*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    place-items: center;
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

h1{
    text-align: center;
    margin: 20px 0 20px 0;
    border-bottom: 4px solid #a84710;
    font-family:"jetBrain Mono",monospace;
 
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(159, 26, 93);
    border: 2px dashed black;
    border-radius:10px ;
    background-color: beige;
}

.board{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border: 2px solid black;
   width: 630px;
   background-color: rgb(14, 70, 81);  
  
}

ul{
    display: grid;
    place-items: center;
    
}

ul p{
    margin: 5px;
    width: 75px;
    height: 75px;
    border: 2px solid black;
    border-radius: 100px;
    background-color: white;
}

ul:hover{
    cursor: pointer;
    background-color: rgb(127, 190, 191);
}


@media(max-width:700px){
    .board{
        width: 500px;
    }
    ul p{
        width: 55px;
        height: 55px;
        
    }
    
}
@media(max-width:520px){
    .board{
        width: 400px;
    }
    ul p{
        width: 40px;
        height: 40px;
        
    }
    
}
@media(max-width:420px){
    .board{
        width: 320px;
    }
    ul p{
        width: 30px;
        height: 30px;
        
    }
    
}